<html lang="eng">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>킥보드 단속 프로젝트</title>
</head>
<link href="/static/css/crackdown.css" rel="stylesheet"/>
<body>
    <div class="section">
        <video id="video" autoplay muted playsinline ></video>
        <canvas id="canvas" style="display: none;"></canvas>
    </div>
    <div class="btn-section">
        <button id="start">START</button>
        <button id="stop">STOP</button>
    </div>
    <script src="/static/js/app.js"></script>

</body>
</html>
