<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>킥보드 단속 프로젝트</title>
</head>
<link href="/static/css/home.css" rel="stylesheet"/>
<body>
    <div class="section" id="crackdown" onclick="location.href='/crackdown' ">
        <h1>단속</h1>
    </div>
    <div class="section" id="stats" onclick="location.href='/stats'">
        <h1>통계</h1>
    </div>
</body>
</html>